{% extends "layout.html" %}
{% block body %}
  <ul class=user>
   <h1>Hi, Champion!</h1>
  </ul>
  <h2>&nbsp;</h2>
  <h3>&nbsp;</h3>
  <div id="left">
     <p><br>{{form.search}}<br></p>
     <p><input type="submit" value="Search"></p>
  </div>
  <div id="right">
     <p> <ull class=a>
      <p>Author:</p>
  {% for entry in a %}
    <li><p><em>{{entry.name}}</em></p>
  {% else %}
    <li><p><em>Unbelievable.  No entries here so far</em></p>
  {% endfor %}
  </ull>
  <ul1 class=Books>
      <p>&nbsp;</p>
      <p>Book:</p>
  {% for entry in Books %}
    <li><p><em>{{entry.name}}</em></p>
  {% else %}
    <li><p><em>Unbelievable.  No entries here so far</em></p>
  {% endfor %}
   </ul1></p>
   </div>
{% endblock %}